@import "../../variables/variables.scss";

.select {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    background-color: "#e0e0e";
    padding: 1em;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    border: 2px solid transparent;
    width: 300px;

}




@include for-desktop {
    .select  {
        width: 370px;
        height: 61px;
        margin-top: 25px;
        margin-right: 35px;
        
        }
        .button {
            align-self: center;
        }
        .input1{
            display: flex;
            justify-content: space-between;
            
        }
        .input2{
            align-self: center;
            margin-left: 205px;
          }
  }